$red:#FF0000;
$gray:#AAAAAA;
$white:#FFFFFF;
$menu-background: #ededed; 
$almost_black: #515151;
$blue: #246BB2;

@font-face {
    font-family: boton-light;
    src: url(../fonts/boton-light.ttf);
}

@font-face {
    font-family: boton-regular;
    src: url(../fonts/boton-regular.ttf);
}

@font-face {
    font-family: boton-medium;
    src: url(../fonts/boton-medium.ttf);
}

body {
    background: #EEEEEE !important;
    margin: 0;
    //font-family: "Open Sans", arial;
    font-family: boton-light;
}

h1,h2,h3{
	font-family: boton-regular;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.centering{
	width: 1200px;
    margin: 0 auto;
    @media screen and (max-width: 1200px){
    	width: 100%;
    }
}

#wrapper {
    float: left;
    position: relative;
    -webkit-box-shadow: 6px 6px 20px 8px rgba(0,0,0,0.37);
	-moz-box-shadow: 6px 6px 20px 8px rgba(0,0,0,0.37);
	box-shadow: 6px 6px 20px 8px rgba(0,0,0,0.37);
	margin-top: 20px;
	margin-bottom: 20px;
	
	@media screen and (max-width: 700px){
    	margin-top: 0;
    	margin-bottom: 0;
    }
    
    @media screen and (max-width: 991px){
    	-webkit-box-shadow:none;
		-moz-box-shadow: none;
		box-shadow: none;
		margin:0;
    }
}

#header {
    width: 100%;
    min-height: 100px;
    background:#FFFFFF;
    float: left;
    position: relative;
    
    
}



#logo{
    height: 100px;
    background: url(../img/logo.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 200px;
    float: left;
    position: relative;
    
    @media screen and (max-width: 700px){
    	width: 50%;
    	margin: 0 25%;
    }
}



.menu-top{
	float:right;
	position:relative;
	height: auto;
	
	@media screen and (max-width: 700px){
    	width: 100%;
    }


	ul {
		float: right;
		position: relative;
		display:inline-block;
		list-style: none;
		margin:0;
		
		@media screen and (max-width: 700px){
	    	width: 100%;
	    	padding: 0;
	    }
	}

	li{
		display: inline;
		line-height: 100px;
		height: 100px;
		margin:5px;
		text-decoration: none !important;
		@media screen and (max-width: 700px){
	    	width: 100%;
	    	display: block;
	    	text-align:center;
	    	height: 50px;
	    	line-height: 50px;
	    }
	    
	}

	li , a {
		text-decoration: none;
		color:$red;
	}
}



.main-menu{
	float: left;
	position: relative;
	width: 100%;
	height: 100px;
	background: $menu-background;
	
	@media screen and (max-width: 1200px){
    	height: auto;
    }
}

.user-menu{
	position: relative;
	float: left;
	height: 100%;
	
	
}

.avatar{
	float: left;
	position: relative;
	margin: 10px 10px 10px 0;
	
	height: 80px;
	width: 80px;
	background: none;
	
	img{
		max-height: 80px;
		width: auto;
	}
}

.user-info{
	float: left;
	position: relative;
	width: 320px;	
	.user-info-item{
		color: $red;
		float: left;
		position: relative;
		margin: 10px 5%;
		height: 35px;
		line-height: 35px;
		font-size: 30px;
		width: 90%;
	}
	
	
	.username{
		margin-bottom: 5px;
	}
	
	.name-team{
		margin-top: 5px;
		font-size: 26px;
		color: black;
	}
	
}

.menu{
	list-style: none; 
	margin: 0;
	float: right;
	position: relative;
	padding: 0;
	height: 100%;
	font-size: 25px;
	line-height: 40px;
	z-index: 2000;
	color: $red; 
	width: auto;
	
	* {
		list-style: none;
	}
	
	a{
		color: $red;
	}
	
	@media screen and (max-width: 700px){
    	width: 100%;
    }
	
	> li{
		display: inline;
		height: 100px;
		padding: 30px 10px;		
		
		position: relative;
		float: left;
		
		margin: 0 10px;
		
		cursor: pointer;
		
		
		@media screen and (max-width: 700px){
	    	display: block;
	    	width: 100%;
			text-align:center;
			
	    }
	}
	
	li:hover ul {
	    display: block;
	}
	
	ul{
		position: absolute;
		top: 100px;
		left: 0;
		padding: 0;
		background: $gray;
		display: none;
		width: 300px;
		z-index: 3000;
		
		li:first-child{
			border: none !important;
		}
		
		@media screen and (max-width: 700px){
	    	width: 100%;
	    }
	    
	    a{
		    border-top: 1px solid $white;
		    float: left;
			position: relative;
			width: 100%;
	    }
	    
	    a:first-child{
		    border-top: none !important;
	    }
		
		li{
			font-size: 20px;
			height: 55px;
			line-height: 35px;
			width: auto;
			float: left;
			position: relative;
			color: $white !important;
			width: 100%;
			border-top: 1px solid $white;
			color: $white;
			padding: 10px;
			
			
			
			a{
				color: $white;
			}
		}
	}
	
	.admin-menu{
		right: 0;
		left: auto;
	}
}

.not-logged{
	float: left !important;
}

.alert-box{
	width: 100%;
	height: auto;
	background: $white;
}


/* STYLING CLASSES */

.white-with-padding{
	padding: 10px;
	background: $white;
}

.margin-10{
	margin: 10px 10px 0 10px;
}

.white-background{
	background: $white;
}

/*.margin-10-when-resize{
	
	
	@media screen and (max-width: 991px){
    	margin-top: 10px;
    }
}*/

.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12{
	@media screen and (max-width: 991px){
    	margin-top: 10px;
    	position: relative;
    	width: 100%;
    	float: left;
    }
}

/* SLIDE */

.slide {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
  }

.slide li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
  }

.slide li:first-child {
  position: relative;
  display: block;
  float: left;
  }

.slide img {
  display: block;
  height: auto;
  float: left;
  width: 100%;
  border: 0;
  }

/* HOME */

.presentation{
	font-family: boton-light;
	
	
	p{
		font-size: 25px;
	}
	
	h1,h3{
		color: $red;
	}
	
	h2{
		color: $blue;
	}
}

.motivi{
	background: $white;
	
	h1,h3{
		color: $red;
	}
	
	h2{
		color: $blue;
	}
	
}



.join{
	background: $white;
	
	height: 270px;
	
	
	a , a:hover{
		
		float: left;
		position: relative;
	
		background: $red;
		color: $white;
		text-decoration: none;
		font-size: 40px;
		padding: 30px 15%;
		width: 50%;
		margin: 70px 25%;
		height: 130px;
		line-height: 70px;
		text-align: center;
		
		-webkit-box-shadow: 6px 6px 20px 8px rgba(0,0,0,0.37);
		-moz-box-shadow: 6px 6px 20px 8px rgba(0,0,0,0.37);
		box-shadow: 6px 6px 20px 8px rgba(0,0,0,0.37);
		
		@media screen and (max-width: 700px){
	    	margin: 10px 10%;
	    	padding: 10px 10%;
	    	width: 80%;
	    	height: 80px;
	    	line-height: 60px;
	    	
	    }
	}
	
	@media screen and (max-width: 700px){
    	height: 100px;
    }
	
	
}

.container-fluid{
	ul{
		font-size: 20px;
	}
	
	p{
		text-align:justify;
	}
}

/* MAIN */



#slide_competitions{
	width: 20%;
	float:right;
	position: relative;
	margin:1%;
	height: 30px;
}

#select_competition{
	float:right;
	position: relative;
	height: 30px;
	width: 100%;
}


.main{
    width: 100%;
    margin-top:10px;
    padding: 10px;
    background: #FFF;
    float: left;
    position: relative;
}

.half_size{
    width: 50% !important;
    float: left;
    position: relative;
    padding: 10px;
}

#content {
    position: relative;
    float: left;
    width: 100%;
    background: $menu-background;
    padding:0 0 10px 0;
}

#footer{
	float:left;
	position: relative;
	width: 100%;
	background: #FF0000;
	min-height: 150px;
	
	*{
		color: $white !important;
	}
	
	.menu-top{
		float: left;
		min-height: 150px;
		
		ul{
			float: left;
			height: auto;
			
			@media screen and (max-width: 700px){
		    	margin: 0 !important;
		    	padding: 0 !important;
		    }
			
			li{
				line-height: 150px;
				@media screen and (max-width: 700px){
			    	line-height: 50px;
			    }
			}
		}
	}
}

.logozenit{
	height: 150px;
	float: right;
	position: relative;
	
	@media screen and (max-width: 700px){
    	width: 100%;
    	height: auto;
    }
	
	img{
		max-height: 150px;
		padding: 25px;
		width: auto;
		float: right;
		position: relative;
		@media screen and (max-width: 840px){
	    	width: 100%;
	    	
	    }
	    
	    @media screen and (max-width: 700px){
	    	width: 70%;
	    	margin: 0 15%;
	    	height: auto;
	    	max-height: none;
    	}
	}
}

#team-info {
    position: relative;
    float: left;
	min-height: 40px;
	width: 100%;
    background: #FFF;
    padding: 5px;
    margin-top: 10px;
}
.name-team {
    position: relative;
    float: left;
    font-size: 25px;
    color: #0f2bf8;
    height: 100%;
    line-height: 30px;
    
    
	a {
	    text-decoration: none;
	    color: #0006f8;
	    font-size: 16px;
	    background: #FFFFDD;
	    padding: 0 3px 0 3px;
	    margin: 2px;
	    float: left;
	    position: relative;
	}
	
}

a.current-round{
	background: #dfe7ff;
}


.balance {
    position: relative;
    float: right;
    font-size: 25px;
    height: 100%;
    line-height: 30px;
}
#balance-display {
    float: right;
}
.market-select {
    margin: 8px;
}

.market-select-button {

}

.left-label{
	text-align: left!important;
}

.select-calc , .select-current-round{
    float: left;
    position: relative;
    width: 100%;
    height: 40px;
}
#side-roster {
    position: relative;
    float: left;
    margin: 10px;
    width: 320px;
    background: #FFF;
    padding: 10px;
}
#side-players {
    position: relative;
    float: left;
    margin: 10px 10px 10px 0;
    width: 750px;
}

.side-element{
    margin-top: 10px;
}


.roster-item{
	float: left;
	position: relative;
	width: 100%;
    background: #FFF;
}



.old-player{
    border-bottom: 1px solid #f8f8f8;
    height: 50px;
    float:left;
    position: relative;
    width: 100%;
    cursor: pointer;
    
    
}

.role-icon{
	float: left;
	position: relative;
	width: auto;
	margin:5px;
	height: 40px;
	
	span{
		padding: 5px 10px;
		height: 40px;
		line-height: 30px;
		float: left; 
	}
}

.name-player-item{
	margin: 5px 5px 5px 0;
	float: left;
	position: relative;
	height: 40px;
	line-height: 40px;
}

.team-player-item{
	@extend .value-player-item;
	color: $red;
}

.value-player-item{
	margin: 5px 5px 5px 0;
	float: left;
	position: relative;
	height: 40px;
	line-height: 40px;
}

.info-player-item{
	float: right;
	position: relative;
	height: 50px;
}

.info-player-link-item{
	@extend .value-player-item;
}

.new-player{
	@extend .old-player;
	width: 50%;
	list-style: none;
	display: block;
	
	@media screen and (max-width: 840px){
    	width: 100%;
    }
	
}




.td-name {
    float: left;
}
.td-cost {
    float: right;
}
#utility-row {
    position: relative;
    float: left;
    padding: 10px;
    width: 100%;
    background: #FFF;
    margin-bottom: 10px;
}

#change-left{
    position: relative;
    float: left;
}

.but {
    position: relative;
    float: left;
    margin-top: 15px;
    margin-left: 10px;
}
.but-role {
    padding: 5px 10px;
    font-size: 20px;
    color: #FFF;
}
.but-over {
    width: 100%;
    margin-top: 3px;
    height: 3px;
    display: none;
}
.p-but {
    background: #f8081f;
}
.d-but {
    background: #1df84a;
}
.c-but {
    background: #f8d300
}
.a-but {
    background: #0006f8
}

.role-icon {
    color: #FFF;
    float: left;
}


.role-icon span {
    padding: 5px 10px;
    float: left;
}

.icon{
    padding: 5px 10px;
    margin: 5px;
    color: #FFF;
}
#value-selector {
    width: 400px;
    float: right;
    position: relative;
    padding: 3px;
    
    @media screen and (max-width: 450px){
    	width: 200px;
    }
}
#players {
    position: relative;
    float: left;
    width: 100%;
}
#search-box {
    position: relative;
    float: left;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    background: #FFF;
}

#search-element {
    width: 50%;
}

.competition_creation #search-box{
    height: 52px;
}

.competition_creation #search-element{
    width: 100%;
}

.competition_creation h3{
    width: 100%;
    margin: 0;
}

.sort {
    width: 24%;
    padding: 5px;
}

.list {
    position: relative;
    float: left;
    width: 100%;
    padding: 0;
    list-style: none;
    background: #FFF;
}



.name-role {
    padding: 5px;
    color: #FFF;
    margin-bottom: 5px;
    line-height: 40px;
}
table.roster-item {
    width: 100%;
    background: white;
    float: left;
    position: relative;
}

.in-roster-player , .in-team-player , .in-reserve-player  {
    cursor: pointer;
}

.type_name {
    float: left;
    position: relative;
    width: 100%;
    margin-bottom: 5px;
    font-size: 18px;
    background: #FFF;
    padding: 5px;
}
#save , #mod-button {
    margin-bottom: 10px;
    height: 35px;
    font-size: 20px;
    color: #FFF;
    text-align: center;
    background: $blue;
    cursor: pointer;
    line-height: 35px;
    float: left;
    position: relative;
    width: 100%;
}

.disabled_but{
    background: #9F9F9F;
    color:#FFF;
}


#market {
    padding: 5px;
    width: 100%;
    float: left;
    position: relative;
    background: #FFF;
    margin-bottom: 10px;
}
.market-player {
    float: left;
    position: relative;
    padding: 10px;
    width: 45%;
}
.market-player span {
    padding: 5px 10px;
    color: #FFF;
}

.market-player .name{
    color:#000 !important;
}

#market-cost {
    padding: 5px 10px;
    width: 80%;
    float: left;
    position: relative;
}

#mod-form #market-cost{
    height: 35px;
    line-height: 25px;
}

#mod-button {
    float: right;
    position: relative;
    width: 20%;
    border: 0;
}
#mod-form {
    float: left;
    position: relative;
    width: 100%;
    padding: 5px;
    line-height: 35px;
}

.formation {
    float: left;
    position: relative;
    background: #FFF;
    height: auto;
    width: 100%;
}

.standing{
    height: auto;
    margin-top:10px;
}

.user_position{
    background: rgba(255,0,0,0.5);
    color: #FFF;
}

.dots{
    text-align: center;
}

.old-player.finalvote{
    text-align: right;
    background: rgba(81,81,81,0.5) !important;
}

.no_formation{
    height: auto;
    max-height: 140px;
    /*margin-bottom: 810px;*/
}

.no_formation  .old-player{
    line-height: 40px;
    margin-left: 10px;
}

.row_formation{
    margin-top: 10px ;
    
    @media screen and (max-width: 991px){
    	margin-top: 0;
    }
}

.title_formation {
    padding: 1% 1% 1% 2%;
    background: $blue;
    color: #FFF;
    font-size: 22px;
    position: relative;
    float: left;
    width: 100%;
}

.formation .old-player img {
    max-height: 18px;
    width: auto;
}

tr {
  border-bottom: 1px solid #cccccc;
}
tr:last-child {
  border-bottom: 0px;
}

.panchina_info{
    background: #CCCCCC;
    text-align: center;
    color: #FFF;
    line-height: 40px;
}

.total_info {
    background:$blue;
    text-align: right;
    color: #FFF;
    line-height: 30px;
	padding:5px;
}
.finalvote,.vote{
	padding: 5px; 
	width: 40px;
	margin:0 !important;
	height:50px;
	text-align: center;
}

.finalvote ,.handicap-formation{
    background: $almost_black;
    color: #FFF;
}



.complete-standing{
	width: 100%;
	line-height: 30px;
}

.value_player{
    text-align: center;
}

.team table, #reserve_team table {
    width: 100%;
    position: relative;
    float: left;
    padding: 1%;
    background: #FFF;
}
.team, #reserve_team {
    width: 100%;
    float: left;
    position: relative;
    margin-bottom: 10px;
}

.campo-verde{
	background:#23a900;
	
	.roster-item{
		background: none;
		
		.old-player{
			color: $white;
			text-align: center;
			border: none;
			
			.name-player-item{
				width: 100%;
				margin: 0;
				line-height: 40px;
			}
		}
	}
}


#reserve_team {
    //margin-left: 2%;
}

.username_title {
    float: left;
    position: relative;
}
.tactic_title {
    float: right;
    position: relative;
}


.P {
    background: #ed5565;
}
.D {
    background: #ff0;
}
.C {
    background: #ffcccc;
}
.A {
    background: #ccffff
}
.panca {
    background: #cc33ff;
}

.error_display{
    /*background: #FF0000;
    opacity: 0.5;*/
    width: 100%;
    margin:1% 0  !important;
    /*padding: 1%;
    color:#FFF;
    float:left;
	position:relative;*/
}

.login_form{
	margin:5% 15%;
    width: 70%;
	float:left;
	position: relative;
}

.signup_form{
    width: 90%;
    margin: 0 5% 5% 5%;
}

.signup_form hr{
    float: left;
    position: relative;
    width: 99%;
    margin: 5px;
}

.signup_form a{
    text-align: center;
}


.box{
	float: left;
	position: relative;
	color:#000;
	margin: 10px;
}

.value_box{
	width: 1080px;
	/* opacity:0.5; */
	height: 100px;
	background: #FFFFFF;
}

.value_map_box{
	width: 620px;
	height: 200px;
}

.value_info_box{
	width: 1080px;
	height: auto;
}

.value_chart{
	height:auto;
	width: 1080px !important;
	margin: 0px 10px 0px 0px;
	padding: 10px;
	background: #FFFFFF;
	float:left;
	position:relative;
}

.value_chart .ct-point,.value_chart .ct-line{
	stroke:  #0065fb !important;
}

.vote_chart .ct-point,.vote_chart .ct-line{
	stroke:#933131 !important ;
}

.value_chart .ct-area{
	fill:  #0065fb !important;
}



.vote_chart .ct-area{
	fill:#933131 !important ;
}

.tables_box{
	width: 1080px;
	height: auto;
	float: left;
	position: relative;

}


.value_info_table_box{
	width: 535px;
	height: auto;
	float: left;
	position: relative;
	background: #FFFFFF;
	margin-right: 5px;
	padding: 10px;

}

.vote_info_table_box{
	margin-left: 5px;
	margin-right: 0

}

.value_stat_box{
	width: 1080px;
	padding: 5px;
	background: #FFFFFF;
}

.name_box{
	width: 25%;
	float: left;
	position: relative;
	height: 100%;
	padding: 10px;
	background: #FFFFFF;
}

.name_item{
	height: 50px;
	line-height: 50px;
	width:100%;
	float:left;
	position:relative;
	font-size: 36px;
	text-align: center;
	color:#000;
}

.role_item{
	height: 30px;
	line-height: 30px;
	width:100%;
	float:left;
	position:relative;
	font-size: 25px;
	text-align: center;
	color:#000;
}

.team_box{
	width: 25%;
	float: left;
	position: relative;
	height: 100%;
	padding: 10px;
	background: #FFFFFF;
}

.team_box img{
	max-height: 100%;
	height: auto;
	width: auto;
	float: left;
	position: relative;
}

.team_item{
	height: 100%;
	line-height: 80px;
	margin-left: 5px;
	float:left;
	position:relative;
	font-size: 26px;
	text-align: center;
	color:#000;
}


.role_box{
	float:left;
	position:relative;
	width: 50%;
	height: 33%;
	padding: 1%;
	background: #FFF;
	color:#000;

}

.media_box{
	float:left;
	position:relative;
	width: 25%;
	height: 50%;
	background: #9c4c4c;
	color:#fff;
}

.presenze_box{
	background: #933131 !important ;
}

.current_value_box{
	float:left;
	position:relative;
	width: 25%;
	height: 50%;
	background: #5291f0;
	color:#FFF;
}



.first_value_box{
	background: #0065fb;
}

.value_item{
	height: 100%;
	line-height: 50px;
	width:50%;
	float:left;
	position:relative;
	font-size: 36px;
	text-align: center;
}

.descript_item{
	width: 50%;
	float:left;
	position:relative;
	text-align: center;
	height: 100%;
	line-height: 50px;
}



.media_item{

}

.media_value_item{

}

.value_tr td, .value_tr th{
	text-align: center;
}

.value_info_table_box table{
	width: 100%;
}

.value_stat_box table{
	width: 100%;
}

.settings{
    float: left;
    position: relative;
}

/*.setting_item{
    float: left;
    position: relative;
    width: 100%;
    padding: 5px;
    height: 40px;
}

.setting_item_name{
    float:left;
    position: relative;
    margin-right: 10px;
    font-size: 21px;
    line-height: 30px;
    color: #0f2bf8;
    min-width: 270px;
}

.setting_item_descript{
    float: left;
    position: relative;
    margin-right: 10px;
    font-style: italic;
    line-height: 21px;
    line-height: 30px;
}

.setting_item_input{
    float: right;
    position: relative;
    height: 30px;
}

.setting_item_element{
    float: left;
    position: relative;
    height: 30px;
}

.settings #save{
    border: none;
}

*/

.form-group{
    h3{
        margin-top: 0 !important;
        margin-bottom: 0 !important;
    }
}

/* SQUARED FOUR */
.squaredFour {
	width: 50%;	
    margin: 20px auto;
	position: relative;
    float: left;
}
  
input[type=checkbox] {
    float: left;
    position: relative;
    margin-top: 5px;
    margin-right: 5px;
}

.select_teams{
	margin: 0 !important;
	padding: 0 !important;
	position: relative !important;
	float: left !important;
}

/* end .squaredFour */


#select_all{
    margin-right: 1% !important;
}

#deselect_all{
    margin-left: 1% !important;
}

/* TEAM LIST */

.team_item_list{
    height: auto;
    position: relative;
    float: left;
    background: #FFFFFF;
    width: 100%;
    
    .info{
	    width: 76%;
	    float: left;
	    position: relative;
    }
    
    .avatar{
	    width: 20%;
	    margin: 10px 2%;
	    height: auto;
    }
}

.team_item_list .name_team{
    width: 90%;
    margin: 5px 5%;
    float: left;
    position: relative;
    font-size: 26px;
    height: 30px;
    line-height: 30px;
    color:#000000;
}

.team_item_list .name_user{
    font-size: 18px;
    height: 24px;
    line-height: 24px;
}

.team_item_list .bottom_team{
    
}

.team_item_list a{
    text-decoration: none;
    color:#000000;
}

.bottom_team .credits{
    
    margin: 0 1% 0 0;
    color: $red;
}



.team_single #side-roster{
    margin:0;
    width: 100%;
}

.team_single .vote{
    width: 50px;
}

.title_team_single{
    background: #FF0000;
    font-size: 25px;
    color: #FFF;
    text-align: center;
    margin:0;
}

.title_transfers_single{
   background: #586969;
   width: 100%;
   float: left;
   position: relative;
}

.transfers{
	float: left;
	position: relative;
    padding: 0;
    width: 100%;
}

.name_market{
    background: #FF0000;
    opacity: 0.5;
    color: #FFF;
    padding: 10px;
    float: left;
    width: 100%;
}

.operation{
    float: left;
    position: relative;
    background: #FFF;
    width: 100%;
    padding: 0 10px 10px 10px;
}

.operation .role-icon{
    padding: 0;
    width: auto !important;
}

.operation .role-icon , .operation .p-but , .operation .d-but , .operation .c-but , .operation .a-but {
    float: left;
    position: relative;
}

.player_name{
    line-height: 50px;
    height: 50px;
    margin-left: 5px;
    float: left;
    position: relative;
}

.transfers_player{
    width: 100%;
    float: left;
    position: relative;
    margin-top: 10px;
}

.info_transfer{
    float: right;
    position: relative;
    height: 50px;
    line-height: 50px;
}

.value_transfer{
    float: right;
    position: relative;
    height: 50px;
    line-height: 50px;
}


/* HOME PAGE */

.inside{
	width: 100%;
}

.home_page{
    margin-top: 20px;
}

.row_home{
    float: left;
    position: relative;
    margin: 10px 0 0 0;
    //width: 1080px;
}

.box_home{
    background: $white;
    
    float:left;
    width: 100%;
    
    
    
    
    /*-webkit-box-shadow: 2px 2px 10px 4px rgba(0,0,0,0.37);
	-moz-box-shadow: 2px 2px 10px 4px rgba(0,0,0,0.37);
	box-shadow: 2px 2px 10px 4px rgba(0,0,0,0.37);*/
}

.box_home .name_market{
    text-align:center;
    margin-bottom:10px;
    background: rgba(255,0,0,1);
    opacity: 1;
}

.three_quarter{
    //width: 63%;

    //float: left;
    padding: 10px;
}

.first_row_home{
    min-height: 170px;
}

.welcome{
    //margin: 0 1% 0 0;
    background: rgba(255,0,0,1);
    color: #FFF;
    font-size: 35px;
	min-height: 170px;
}

.punti_highlight{
    color: rgba(81,81,81,1);
}

.minor{
    font-size: 28px;
}

.click_to_reg{
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.welcome.not_logged{
    cursor: pointer;
}

.one_quarter{
    //width: 36%;
    padding: 10px;
    
    
}

.count_closing_time{
    float: left;
    position: relative;
    width: 100%;
}

.recap_last_round , .recap_standings{
    //width: 49.5% !important;
    padding: 10px;
    //margin: 0 1% 0 0;
}

.standings_last_round{
    //width: 49.5% !important;
    padding: 10px;
    //margin: 0;
}

.standings_general{
    //width: 49.5% !important;
    padding: 10px;
    //margin: 0;
}

.standings_general tr:nth-last-child(2){
    border-bottom: none;
}

#clock{
    width: 100% !important;
    float: left;
    position: relative;
}

#clock *{
    box-sizing: content-box !important;
}

.county , .county *{
	background:$white !important;
}

.county-label-days,.county-label-hours,.county-label-minutes,.county-label-seconds{
    width: 70px !important;
}

.first, .first .county-days, .county-hours,.county-minutes,.county-seconds ,.county-hours-wrapper,.county-minutes-wrapper,.county-seconds-wrapper{
    width: 62px !important;
}

span.county-days, span.county-minutes,span.county-hours,span.county-seconds {
	font-size: 40px;
    padding-top: 5px;
    text-align: center;

}

.county.red .county-label-days, .county.red .county-label-hours, .county.red .county-label-minutes, .county.red .county-label-seconds{
	padding-top: 5px !important;
	width: 87px !important;
}



/* PROFILE */

.settings-profile{
	background: $white;
	margin-top: 10px;
	padding: 10px;
}

/* IMAGE BOX */

.image-box{
	img{
		width: auto;
		height: 220px;
		
		
	}
	
	height:220px;
	border: 5px $gray solid;
	width: 100%;
	overflow: hidden;
}